## using panda for data analaysis¶

In [2]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv('./station.csv')

In [8]:
df_weather=pd.read_csv('./weather.csv')

In [10]:
df_trip = pd.read_csv('./trip.csv', error_bad_lines=False ,warn_bad_lines=False)

## q 1What is the average trip duration for a borrowed bicycle?

In [15]:
average_trip=df_trip["tripduration"].mean()
print(f"----> {average_trip}")

----> 1178.2956753399776

## q2 What’s the most common age of a bicycle-sharer?

In [25]:
common_age= 2020 - df_trip['birthyear'].mode()
print(f"----> {common_age}")

----> 0    33.0
dtype: float64

## q3 Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [27]:
median_precipitationd=df_weather["Precipitation_In"].median()
mean_precipitationdn=df_weather["Precipitation_In"].mean()

print(f"the median is {median_precipitationd} and the average is {mean_precipitationdn}")

the median is 0.0 and the average is 0.10506531204644412

## q4 What’s the average number of bikes at a given bike station?

In [30]:
bike_station = df['install_dockcount'].mean()
print(f"----> {bike_station}")

----> 17.586206896551722

## q5 When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [36]:
#The dropna() function is used to remove missing values
bike_station__modified = df[['modification_date','install_dockcount','current_dockcount']].dropna()
current_place = bike_station__modified['current_dockcount'].sum()
new_place = bike_station__modified['install_dockcount'].sum()
result=current_place - new_place
# negative tha mean it will lose bikes
print(f"negative tha mean it will lose bikes {result}")

negative tha mean it will lose bikes -64

## q6 Come up with 3 more questions that can be answered with this data set.

In [37]:
# what is the max 3 temperature ?
max_temp = df_weather.sort_values("Max_Temperature_F",ascending=True).head(3)
max_temp

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
78,12/30/2014,39,34.0,30,24,17,14,73,51,35,...,30.81,30.75,10,10,10,6,1,-,0.00,NaN
448,1/4/2016,39,38.0,37,34,33,32,87,83,76,...,29.77,29.67,10,6,2,8,1,NaN,0.07,Rain
412,11/29/2015,39,34.0,30,34,31,25,93,87,79,...,30.21,30.16,3,1,0,7,2,NaN,0.00,Fog

In [39]:
# what is the min 3 temperature ?
min_temp = df_weather.sort_values("Min_TemperatureF",ascending=True).head(3)
min_temp

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
446,1/2/2016,44,34.0,23,30,23,13,96,73,33,...,30.19,30.11,10,9,6,8,2,NaN,0.0,NaN
445,1/1/2016,44,34.0,25,30,25,21,92,76,43,...,30.38,30.27,10,10,6,5,1,NaN,0.0,NaN
411,11/28/2015,46,36.0,26,31,26,21,86,75,50,...,30.29,30.22,10,8,2,6,1,NaN,0.0,Snow

In [ ]:
# what is the short trip ?
short_trip = df_trip['tripduration'].max()
lon_trip